# Bonus: Temperature Analysis I

In [21]:
import pandas as pd
from datetime import datetime as dt
import numpy as np

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])

In [5]:
# Set the date column as the DataFrame index
df.set_index(df['date'], inplace=True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [6]:
# Drop the date column
del df['date']
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [23]:
from scipy import stats

In [24]:
# Filter data for desired months
june_df = df[(df.index).month == 6]
dec_df = df[(df.index).month == 12]

In [28]:
# Identify the average temperature for June
avg_june = np.mean(june_df['tobs'])
print(f'The average temperature for June is {round(avg_june,2)}')

The average temperature for June is 74.94

In [29]:
# Identify the average temperature for December
avg_dec = np.mean(dec_df['tobs'])
print(f'The average temperature for December is {round(avg_dec,2)}')

The average temperature for December is 71.04

In [31]:
# Create collections of temperature data
dec_temps = dec_df['tobs']
june_temps = june_df['tobs']

In [38]:
# Run t-test
stats.ttest_ind(june_temps, dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The p-value is 3.9e-191 which is approaching zero which means there is evidence that there is a significant difference between the average temperatures in June and December.

We used an unpaired t-test because the temperatures in June and December are independent of each other. Additionally, in order to perform a paired t-test, the two data inputs must be the same length which isn't possible with our dataframe because (a) there is data for June 2017 but not data for Dec 2017 and (b) June is 30 days long and December is 31 days long so it is not possible to pair the two.